.home{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    width: 70vw;
}
svg path.figure:hover{
    fill: rgb(91, 107, 180);
    cursor: pointer;
    transform: scale(1.02);
    transition: 1s;
}
svg path.letra{
    fill: #fff;
}